# dependencies
/node_modules
/Frontend/src/node_modules
/Backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# Environments
.env
.ven
.venv
env/
venv/
ven/
ENV/
env.bak/
venv.bak/

npm-debug.log*
yarn-debug.log*
yarn-error.log*